{%extends 'stylePages/mainstylepage.html'%}


{%block mainBlock%}
<iframe class = "mapbox"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyB9LhKx9smAr0A4Qhbb97XqLW88TfI6NkE
    &q=nearby+in+Newport
    &zoom=14" allowfullscreen>
</iframe>

  <nav class = "aboutnewportnav">
    <h1>Welcome to Newport</h1>
    <a>Click one of the buttons below for information on Newport</a><br>
    <a href="#introtitle" class = "newportnavitem">
      <img src="/static/img/icons/ic_explore_white_24dp_2x.png"></img>Newport
    </a>
    <a href="#historyTitle" class = "newportnavitem">
      <img src="/static/img/icons/ic_restore_white_24dp_2x.png"></img>History
    </a>
    <a href="#shoppingTitle" class = "newportnavitem">
      <img src="/static/img/icons/ic_shopping_basket_white_24dp_2x.png"></img>Shopping
    </a>
    <a href="#getaroundTtitle" class = "newportnavitem">
      <img src="/static/img/icons/ic_directions_walk_white_24dp_2x.png"></img>Getting Around
    </a>
    <a href="#gethereTitle" class = "newportnavitem">
      <img src="/static/img/icons/ic_directions_white_24dp_2x.png"></img>Getting To Newport
    </a>
  </nav>
<br>
<br>
<br>
<br>
<br>

<article class = "maincontent">
  <section class = "whiteBlock">
    <h1 id = "introtitle">Newport</h1>
    <p>Newport is a multi-cultural city with its own unique atmosphere, where traditional industries sit alongside new electronics and financial service sectors.<br><br>
      Standing at the gateway between England and Wales, Newport covers a geographical area of just over 73.5 square miles and is a vibrant, forward-thinking city steeped in a rich industrial heritage, dating from the nineteenth century when its important strategic location was first recognised.<br><br>
      After losing some of its core industries, the city is successfully proving that it can re-establish and adapt itself as a centre of modern industry and commerce.</p>
      <!-- Text taken from Newport City Council page - http://www.newport.gov.uk/en/About-Newport/About-Newport.aspx -->
    <a href="#topofpage" class = "backtotopButton">
      <img src="/static/img/icons/ic_arrow_upward_black_24dp_2x.png"></img>Back to Top of Page
    </a>
  </section>

  <section class = "whiteBlock">
    <h1 id = "historyTitle">History</h1>
    <p>Newport’s location at the mouth of the River Usk has attracted visitors for centuries. The city’s history dates back to a Celtic settlement, 2000 years ago.<br><br>
      On the very edge of the Roman empire, Caerleon was the chosen site for a strategic legionary fortress of the 2nd (Augustan) legion from the latter part of the 1st century AD.<br><br>
      The remains of the barracks, bath house and amphitheatre are among the best preserved Roman military sites in Britain.</p><br><br>
      <h1>Medieval Newport</h1>
      The Normans also settled in the town and built a castle beside the river Usk in the 12th century, the remains of which can still be seen today.<br><br>
      The town received its first Charter in 1385.<br><br>
      Although documents survived from this period, little evidence had come to light to confirm the importance of Newport during the later middle ages, until the discovery of a near complete sea-going vessel in 2002.<br><br>
      Although not all the facts are clear at the moment, it would seem to be the first hard evidence for Newport being a centre of industry and trade in the mediaeval period.<br><br>
      Growth and expansion
      Newport expanded rapidly and changed from a small seaport town to one of the most important places in the country for coal export and steel production during the 19th century Industrial Revolution.<br><br>
      The town became known for its accessible modern docks.
      Trade flourished and further extension of the docks added to Newport’s reputation – in 1914 Newport shipped over 6 million tons of coal per year.<br><br>
      <h1>The Chartists</h1>
      The <a target="_blank" href="http://www.newport.gov.uk/en/About-Newport/History/The-Newport-Chartist-Rising.aspx">Chartist uprising of 1839 in Newport</a> concerned demands made by the Chartists including a vote for all men over 21 years, secret ballots, wages for Members of Parliament and the abolition of the property qualifications for MPs.<br><br>
      All of these demands were incorporated within the UN Universal Declaration of Human Rights in 1948.<br><br>
      Twenty-two Chartists were shot dead by soldiers and their leaders transported but later pardoned.<br><br>
      These men suffered for principles which we now take for granted and which form the basis of modern parliamentary democracy.<br><br>
      <h1>Further information</h1>
      <a target="_blank" href="http://www.newportpast.com/">Newport Past</a> has some useful information about Newport, particularly its history during the 19th century.<br><br>
      Newport’s Museum and Art Gallery has resources about Newport’s development and history.</p>
    <a href="#topofpage" class = "backtotopButton">
      <img src="/static/img/icons/ic_arrow_upward_black_24dp_2x.png"></img>Back to Top of Page
    </a>
  </section>

  <section class = "whiteBlock">
    <h1 id = "shoppingTitle">Shopping</h1>
    <p>Shopping in Newport is centred around Newport market, Commercial Street and the Kingsway Centre where you will find high street names, local independent retailers, cafes and coffee shops.<br><br>
      Stock up on essentials from local traders at historic Newport Market.<br><br>
      Queensberry Real Estate has been appointed by Newport City Council to develop Friars Walk, a new retail and leisure scheme.<br><br>
      Newport is a Fairtrade city, with shops and cafes offering at least two fairly traded products, visit the Fairtrade website to see how you can support Fairtrade in Newport.<br><br>
      Enjoy three hours car parking for just £2 in council-owned car parks.<br><br>
      Newport Shopmobility is based at 193 Upper Dock Street and is open between 9.15am - 5.00pm, telephone (01633) 673845 for details.</p><br>
    <!-- Shopping info from Newport Council site http://www.newport.gov.uk/en/Leisure-Tourism/Shopping/Shopping.aspx -->
    <h1>Friars Walk Shopping Centre</h1>
    <p>Friars Walk opened on 12th November 2015. Queensberry Real Estate was selected by Newport City Council to deliver a new modern shopping and leisure destination  in the heart of Newport city centre. Friars Walk is 390,000 sq ft of retail and leisure space which includes a 90,000 sq ft Debenhams Department Store, an 8 screen Cineworld cinema and a wide range of shops and restaurants all supported by a new modern 350 space car park and new bus station.  Friars Walk has helped to transform the centre of Newport and give people a reason to return to the city as the region's premier retail destination.</p><br>
    <!-- Friars Walk info from Queensberry Real Estate Website http://www.queensberryrealestate.com/projects/friars-walk/ -->
    <img class = "aboutNewportimg" src = "http://www.friarswalknewport.co.uk/cms-data/leasing-plans/Ground%20Floor%20May16.jpg">
    <h1>Kingsway Shopping Centre</h1>
    <p>The Kingsway Shopping Centre is at the heart of Newport city centre, home to over 20 high street stores. It includes Pure Gym, Sainsburys, Post Office and Boswells family cafe as well as many other brands.<br><br>
      Located next to the Central Library it also adjoins the Friars Walk shopping and leisure complex and with over 1,050 car parking spaces and open 7 days a week, Newport really is the place to be.</p>
    <!-- Kingsway Shopping Centre Info from Kingsway Website https://www.kingswaycentre.com/ -->
    <img class = "aboutNewportimg" src = "https://www.kingswaycentre.com/cms-data/leasing-plans/store-guide.gif">
    <a href="#topofpage" class = "backtotopButton">
      <img src="/static/img/icons/ic_arrow_upward_black_24dp_2x.png"></img>Back to Top of Page
    </a>
  </section>

  <section class = "whiteBlock">
    <h1 id = "getaroundTtitle">Getting Around</h1><br>
    <img src="/static/img/icons/ic_directions_bus_black_24dp_2x.png"></img><h1>By Bus</h1>
    <p>There are 3 main bus opperators in Newport Links to there sites for more information are linked below</p>
    <span class = "buslist">
      <a target="_blank" href="https://www.stagecoachbus.com/maps?nearbyLocation%5BCategory%5D=locality&nearbyLocation%5BGeocode%5D%5BGrid%5D%5Bvalue%5D=WGS84&nearbyLocation%5BGeocode%5D%5BLongitude%5D=-2.994075794206005&nearbyLocation%5BGeocode%5D%5BLatitude%5D=51.588087004974255&nearbyLocation%5BGeocode%5D%5Bcallback%5D=undefined&nearbyLocation%5BFullText%5D=Newport+(South+Wales)%2C+Newport&nearbyLocation%5BLocalityData%5D%5BLocalityId%5D=ZYX6770&nearbyLocation%5Bid%5D=Newport+(South+Wales)%2C+Newport">
        <img src="http://www.stagecoach.com/~/media/Images/S/Stagecoach-Group/Image-Library/image-library/image-preview/logos/ballbus.gif?h=130&la=en&w=550"></img>
      </a>
      <a target="_blank" href="http://www.newportbus.co.uk/Journey-Planner-AW-2016">
        <img src="http://www.newportbus.co.uk/_assets/css/images/Logo.png"></img>
      </a>
      <a target="_blank" href="http://www.natgroup.co.uk/service-area/newport-monmouthshire-gwent">
        <img src ="http://www.natgroup.co.uk/sites/www.natgroup.co.uk/files/NAT_logo.png"></img>
      </a>
    </span><br>
    <img src="/static/img/icons/ic_local_taxi_black_24dp_2x.png"></img><h1>By Taxi</h1>
    <p>There are taxi ranks at Newport train station, on Bridge Street and also in Maindee Square and on Stow Hill from 6pm - 6am.
    <h1>Hackney carriage companies - all have disabled access</h1>
      <ul>
        <li>Capitol, (01633) 212121 or 263666, 187 Upper Dock Street, Newport</li>
        <li>Dragon, (01633) 216216, www.dragontaxis.co.uk, Station Approach, Newport</li>
        <li>Hackney Association, (01633) 212111</li>
      </ul>
    <h1>Private hire companies (non-metered)</h1>
    <p>Please ask individual companies about disabled access.</p>
    <ul>
      <li>ABC, (01633) 271971, 560 Corporation Road, Newport</li>
      <li>Bettacars, (01633) 850100 or 850121 or 850116, www.bettacabs.co.uk, Unit 23, Bettws Shopping Centre, Newport</li>
      <li>Capitol, (01633) 212121 or 263666, 187 Upper Dock Street, Newport</li>
      <li>Chow, (01633) 256065, 38 Commercial Road, Newport</li>
      <li>Dragon, (01633) 216216, www.dragontaxis.co.uk, Station Approach, Newport</li>
      <li>High X, (01633) 667667 or 666888, Wern Industrial Estate, Rogerstone, Newport</li>
      <li>Roman, (01633) 400071 or 857770, Western Industrial Estate, Caerleon</li>
      <li>Servu, (01633) 256666 or 267800, www.servutaxis.co.uk, 13 Pentonville, Newport</li>
      <li>Star, (01633) 840015 or 252447 or 262030, 2 Church Road, Newport</li>
      <li>Town, (01633) 253253 or 257257, 5 Caxton Place, Newport</li>
    </ul></p>
    <!-- Taxi info from Newport Council site http://www.newport.gov.uk/en/Transport-Streets/Public-Transport/Taxis.aspx -->
    <a href="#topofpage" class = "backtotopButton">
      <img src="/static/img/icons/ic_arrow_upward_black_24dp_2x.png"></img>Back to Top of Page
    </a>
  </section>

  <section class = "whiteBlock">
    <h1 id = "gethereTitle">Getting To Newport</h1>
    <iframe src="//https://www.google.com/maps/embed/v1/directions
    ?key=AIzaSyB9LhKx9smAr0A4Qhbb97XqLW88TfI6NkE
    &origin=Oslo+Norway
    &destination=Telemark+Norway
    &avoid=tolls|highways">
    </iframe>
    <p>Newport is just 90 minutes from London by rail and there are direct coach services from Heathrow and Gatwick airports and other major centres.</p>
    <p>Cardiff and Bristol International Airports are within an hour’s drive.</p>
    <p>Find <a title="Parking" class="sys_0 sys_t100" href="/en/Transport-Streets/Parking/Parking.aspx">car parking</a>&nbsp;information and <a title="Public Transport" class="sys_0 sys_t100" href="/en/Transport-Streets/Public-Transport/Public-Transport.aspx">local bus and rail links</a> in Newport.</p><br>
    <h1>By train</h1>
    <p>Situated on the main line between Cardiff and London, Newport has direct rail services to Cardiff, Swansea, Manchester, Birmingham, Holyhead, Nottingham, Birmingham, Bristol and London.</p>
    <p>Train timetables are available from&nbsp;<a class="sys_16" onclick="void(window.open('http://www.nationalrail.co.uk/',''));return false;" onkeypress="void(window.open('http://www.nationalrail.co.uk/',''));return false;" href="http://www.nationalrail.co.uk/">National Rail Enquiries</a></p><br>
    <h1>By road</h1>
    <p>Newport is situated along the M4 corridor just 12 miles from Cardiff and is served by 6 junctions.</p><br>
    <p>Newport is linked to a number of major UK centres by direct coach services, visit <a class="sys_16" onclick="void(window.open('http://www.nationalexpress.com/',''));return false;" onkeypress="void(window.open('http://www.nationalexpress.com/',''));return false;" href="http://www.nationalexpress.com/">National Express</a>&nbsp;for timetables and to book.</p><br>
    <h2>By air</h2>
    <p><a class="sys_16" onclick="void(window.open('http://www.cardiff-airport.com/',''));return false;" onkeypress="void(window.open('http://www.cardiff-airport.com/',''));return false;" href="http://www.cardiff-airport.com/">Cardiff Airport</a>&nbsp;and&nbsp;<a class="sys_16" onclick="void(window.open('http://www.bristolairport.co.uk/',''));return false;" onkeypress="void(window.open('http://www.bristolairport.co.uk/',''));return false;" href="http://www.bristolairport.co.uk/">Bristol Airport</a>&nbsp;are within an hours drive of Newport.&nbsp;</p>
    <a href="#topofpage" class = "backtotopButton">
      <img src="/static/img/icons/ic_arrow_upward_black_24dp_2x.png"></img>Back to Top of Page
    </a>
  </section>
</article>




<!-- // function scrollIntoView() {
//   document.getElementById("Historytitle").scrollIntoView();
//   // document.getElementById("Historytitle").scrollTop();
// } -->

<!-- AIzaSyB9LhKx9smAr0A4Qhbb97XqLW88TfI6NkE -->
{%endblock%}
