<!DOCTYPE html>
<html>
  <title>Newport Trading Website</title>
  <head>
    <link rel="stylesheet" type = "text/css" href="/static/css/businessStyle.css">
    <link rel="stylesheet" type = "text/css" href="/static/css/navstyle.css">
    <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico">
  </head>
  <body>
   <header class = "topblock">
     <a href="/home" >
       <img class = "nowlogotop" src="/static/img/nowLogowhite.png" alt = "Newport Now Logo">
     </a>
     <ul class = "navoption">
       <li>{{uName}}</a></li>
       <a href="/home" class = "topblockitem">
         <img src="/static/img/icons/ic_accessibility_white_24dp_2x.png"></img>Accessibility
       </a>
       <a href="/home" class = "topblockitem">
         <img src="/static/img/icons/ic_language_white_24dp_2x.png"></img>Welsh
       </a>
       <a href="/login" class = "topblockitem">
         <img src="/static/img/icons/ic_account_circle_white_24dp_2x.png"></img>Login
       </a>
     </ul>
   </header>
   <nav>
     <ul class = "topnav">
       <a href="/aboutNewport" class = "navitem">
         <img src="/static/img/icons/ic_explore_white_24dp_2x.png"></img>About Newport
       </a>
       <a href="/events" class = "navitem">
         <img class = "navicon" src="/static/img/icons/ic_event_white_24dp_2x.png"></img>Events
       </a>
       <a href="/news" class = "navitem">
         <img src="/static/img/icons/ic_announcement_white_24dp_2x.png"></img>News
       </a>
       <span class = "moreinnav" id = "morebtn">
         <a onclick = "opennav()" class = "navitem">
           <img src="/static/img/icons/ic_expand_more_white_24dp_2x.png"></img>More
         </a>
       </span>
       <span class = "closeinnav" id = "closebtn">
         <a onclick = "closenav()" class = "navitem">
           <img src="/static/img/icons/ic_close_white_24dp_2x.png"></img>Close
         </a>
       </span>
       <span class = "hidenavitems">
         <a href="/shopSearch" class = "navitem">
           <img src="/static/img/icons/ic_store_white_24dp_2x.png"></img>Find Shops
         </a>
         <a href="/businessSearch" class = "navitem">
           <img src="/static/img/icons/ic_business_center_white_24dp_2x.png"></img>Company Directory
         </a>
         <a href="/aboutus" class = "navitem">
           <img class = "navicon" src="/static/img/icons/ic_info_outline_white_24dp_2x.png"></img>About Us
         </a>
       </span>
     </ul>
   </nav>
   <nav>
     <ul id = "extendednav" class = "extendednav">
       <a href="/shopSearch" class = "navitem">
         <img src="/static/img/icons/ic_store_white_24dp_2x.png"></img>Find Shops
       </a>
       <a href="/businessSearch" class = "navitem">
         <img src="/static/img/icons/ic_business_center_white_24dp_2x.png"></img>Company Directory
       </a>
       <a href="/aboutus" class = "navitem">
         <img class = "navicon" src="/static/img/icons/ic_info_outline_white_24dp_2x.png"></img>About Us
       </a>
       <a href="/home" class = "topblockitem">
         <img src="/static/img/icons/ic_language_white_24dp_2x.png"></img>Welsh
       </a>
       <a href="/login" class = "topblockitem">
         <img src="/static/img/icons/ic_account_circle_white_24dp_2x.png"></img>Login
       </a>
     </ul>
   </nav>
   <content class="timeline-block">
     <a class="twitter-timeline"
       href="https://twitter.com/Newport_BID?ref_src=twsrc%5Etfw"
       data-width="300"
       data-height="555">
     </a>
   </content>

    <article class = "maincontent">
      {% block mainBlock%}Page under construction. {%endblock%}
    </article>
    <script src="/static/js/navdropdown.js"></script>
</body>
</HTML>
